server:
  port: 8080

spring:
  application:
    name: BE

  datasource:
    url: jdbc:mysql://localhost:3306/sep490_g97
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# ================= JWT CONFIG =================
jwt:
  secret: sep490_transport_management_secret_key_2026_super_long_and_secure_for_hs256
  access-token-expiration: 86400000        # 1 ngày (ms)
  refresh-token-expiration: 604800000      # 7 ngày (ms)

# ================= SWAGGER CONFIG =================
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
